* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scale {
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    padding: 40px;
    margin: 30px auto;
    width: 160px;
    height: 160px;
    background-color: blue;
    transition: all 0.5s;
}

.scale:hover {
    transform: scale(2);
}

.skew {
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    padding: 40px;
    margin: 30px auto;
    width: 160px;
    height: 160px;
    background-color: rebeccapurple;
    transition: all 0.5s;
}

.skew:hover {
    transform: skew(15deg);
}

.rotate {
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 40px;
    margin: 30px auto;
    width: 160px;
    height: 160px;
    background-color: yellow;
    transition: all 0.5s;
}

.rotate:hover {
    transform: scale(1.3) rotate(70deg);
}

.translate {
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 40px;
    margin: 30px auto;
    width: 160px;
    height: 160px;
    background-color: orangered;
    transition: all 0.5s;
}

.translate:hover {
    transform: translate(50px);
}

.transform-origin {
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 40px;
    margin: 30px auto;
    width: 160px;
    height: 160px;
    background-color: red;
    transition: all 0.8s;
}

.transform-origin:hover {
    transform-origin: bottom right 60px;
    rotate: 180deg;
}

button {
    margin: 54px 150px;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    font-size: 54px;
    background-color: #eaeaea;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}

button:hover {
    background-color: #1a73e8;
    color: #fff;
}