@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cabecalho {
    display: flex;
    flex-direction: column;  
}

.cabecalho p {
    font-size: 15px;
    background-color: #1cd1b0;
    padding: 2px 23px;                                        
}

.cabecalho .info-loja {
    display: flex;
    align-items: center;
    background-color: #00669f;
}

.info-loja img {
    width: 99px;
    height: 55px;
    padding: 0 10px;
}

.info-loja h2 {
    font-weight: 400;
    font-size: 30px;
    padding: 0 35px;
    color: #fff;
}

.formulario-login {
    width: 620px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
}

.fieldset-inputs {
    border: none;
}

.fieldset-inputs h1 {
    font-size: 40px;
    color: #333;
}

.fieldset-inputs input {
    width: 100%;
    height: 60px;
    margin: 20px auto 5px;
}

.formulario-login input::placeholder {
    padding: 26px;
    font-size: 20px;
    font-weight: 400;
}

.formulario-login button {
    width: 100%;
    padding: 15px;
    font-size: 24px;
    border-radius: 25px;
    background-color: #1cd1b0;
    border: none;
    margin-top: 50px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.formulario-login button:hover {
    background-color: #ccf0e9;
    border: 1px solid #1cd1b0;
}

.formulario-login p {
    text-align: center;
    font-size: 21px;
    margin-top: 20px;
}

.formulario-login a {
    text-decoration: none;
    color: #00669f;
}

.rodape {
    background-color: #00669f;
    color: #fff;
    padding: 15px;
    text-align: center;

}